.fixed {
    width: 100%;
}

.nav-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: #202631;

    position: fixed;
    left: 0;
}

.items-nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}

.break {
    border-bottom: 1px solid rgba(228, 233, 242, 0.5);
    padding-bottom: 1.4rem;
}


.item-nav, .item-nav:link, .item-nav:active {
    color: #E4E9F2;
    opacity: 0.5;
}

.item-nav.item-nav__active {
    color: #fff;
    opacity: 1;
}
.icon-nav {
    height: 35px;
    width: 27px;
}