

:root {
    --main-color: #2E4B9C;
}


@font-face {
    font-family: 'avenir';
    src: url("./fonts/avenir_ff/AvenirLTStd-Roman.otf");
  }

  /* font-family: "avenir", sans-serif */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}